<wm-page layouttype="blank" columns="1" data-ng-controller="MainPageController" name="page1">
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" paddingleft="15" paddingright="15" name="mainContent">
                <wm-label caption="Home" fontsize="20" name="Heading"></wm-label>
                <wm-composite widget="text" name="composite1">
                    <wm-label class="col-md-2" name="label2" caption="Name"></wm-label>
                    <wm-text placeholder="Enter Name" name="username"></wm-text>
                </wm-composite>
                <wm-composite widget="text" name="composite2">
                    <wm-label class="col-md-2" name="label3" caption="Email"></wm-label>
                    <wm-text placeholder="Enter Email" name="useremail"></wm-text>
                </wm-composite>
                <wm-composite widget="text" name="composite3">
                    <wm-label class="col-md-2" name="label4" caption="Password"></wm-label>
                    <wm-text type="password" placeholder="Enter Password" name="userpassword"></wm-text>
                </wm-composite>
                <wm-composite widget="select" name="composite5">
                    <wm-label class="col-md-2" name="label6" caption="Role"></wm-label>
                    <wm-select name="userrole" dataset="bind:Variables.StorageRolesData.dataSet" datafield="roleId" displayfield="rolename"></wm-select>
                </wm-composite>
                <wm-button caption="Submit" name="button1" on-click="serviceVariable1" on-mouseleave="button1Mouseleave($event, $scope)"></wm-button>
                <wm-livegrid service="storage@Users" name="livegrid1">
                    <wm-grid dataset="bind:Variables.StorageUsersData.dataSet" name="grid1" deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true">
                        <wm-grid-column binding="userId" caption="userId" type="integer" primary-key="true" generator="identity" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="name" caption="name" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="email" caption="email" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="roles.rolename" caption="roles.rolename" type="string" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                    </wm-grid>
                    <wm-liveform dataset="bind:Variables.StorageUsersData.dataSet" name="liveform1" novalidate="false" height="200">
                        <wm-form-field key="userId" display-name="userId" show="true" type="integer" primary-key="true" generator="identity" readonly="true" required="true" placeholder="Enter value"></wm-form-field>
                        <wm-form-field key="name" display-name="name" show="true" type="string" primary-key="false" generator="null" readonly="false" required="false" maxvalue="255" placeholder="Enter text"></wm-form-field>
                        <wm-form-field key="email" display-name="email" show="true" type="string" primary-key="false" generator="null" readonly="false" required="false" maxvalue="255" placeholder="Enter text"></wm-form-field>
                        <wm-form-field key="password" display-name="password" show="true" type="string" primary-key="false" generator="null" readonly="false" required="false" maxvalue="255" placeholder="Enter text"></wm-form-field>
                        <wm-form-field key="roles" display-name="roles" show="true" type="list" primary-key="false" generator="assigned" is-related="true"></wm-form-field>
                        <wm-form-action key="cancel" display-name="cancel" show="true" class="form-cancel" iconname="remove-circle" action="formCancel()" type="button" update-mode="true"></wm-form-action>
                        <wm-form-action key="save" display-name="save" show="true" class="form-save btn-success" iconname="save" type="submit" update-mode="true"></wm-form-action>
                    </wm-liveform>
                </wm-livegrid>
            </wm-column>
        </wm-row>
    </wm-content>
</wm-page>